<div class="container">
  <img
    src="https://images.unsplash.com/photo-1562774053-701939374585?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1186&q=80"
    alt=""
    class="background-image w-full h-20rem"
  />
  <h1 class="title">Bienvenido a nuestro Instituto</h1>
</div>

<div class="info flex justify-content-around mt-8">
  <mat-card class="w-14rem card">
    <mat-card-content class="h-full flex flex-column justify-content-center">
      <h2 class="text-center text-3xl m-1">{{ (users$ | async)?.length }}</h2>
      <p class="text-center text-xl m-1">Usuarios</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="w-14rem card">
    <mat-card-content class="h-full flex flex-column justify-content-center">
      <h2 class="text-center text-3xl m-1">
        {{ (students$ | async)?.length }}
      </h2>
      <p class="text-center text-xl m-1">Estudiantes</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="w-14rem card">
    <mat-card-content class="h-full flex flex-column justify-content-center">
      <h2 class="text-center text-3xl m-1">
        <mat-icon>all_inclusive</mat-icon>
      </h2>
      <p class="text-center text-xl m-1">Inscripciones</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="w-14rem card">
    <mat-card-content class="h-full flex flex-column justify-content-center">
      <h2 class="text-center text-3xl m-1">{{ (courses$ | async)?.length }}</h2>
      <p class="text-center text-xl m-1">Cursos</p>
    </mat-card-content>
  </mat-card>

  <mat-card class="w-14rem card">
    <mat-card-content class="h-full flex flex-column justify-content-center">
      <h2 class="text-center text-3xl m-1">4</h2>
      <p class="text-center text-xl m-1">Sedes</p>
    </mat-card-content>
  </mat-card>
</div>
