<button mat-icon-button routerLink="..">
  <mat-icon>arrow_back</mat-icon>
</button>

<h1 class="text-center">{{ course$?.name }}</h1>
<div class="grid justify-content-around mt-6">
  <mat-card class="w-14rem p-3">
    <mat-card-title class="text-center">Descripción</mat-card-title>
    <mat-card-content class="text-center">
      {{ course$?.description }}
    </mat-card-content>
  </mat-card>
  <mat-card class="w-14rem p-3">
    <mat-card-title class="text-center">Fecha de inicio</mat-card-title>
    <mat-card-content class="text-center">
      {{ course$?.startDate | date : "dd/MM/yyyy" }}
    </mat-card-content>
  </mat-card>
  <mat-card class="w-14rem p-3">
    <mat-card-title class="text-center">Fecha final</mat-card-title>
    <mat-card-content class="text-center">
      {{ course$?.endDate | date : "dd/MM/yyyy" }}
    </mat-card-content>
  </mat-card>
</div>
