<table mat-table class="mat-elevation-z8" [dataSource]="dataSource">
  <!-- Id Column -->
  <ng-container matColumnDef="id">
    <th mat-header-cell *matHeaderCellDef>ID</th>
    <td mat-cell *matCellDef="let inscriptions">{{ inscriptions.id }}</td>
  </ng-container>
  <!-- Student Column -->
  <ng-container matColumnDef="student">
    <th mat-header-cell *matHeaderCellDef>Estudiante</th>
    <td mat-cell *matCellDef="let inscriptions">
      {{ inscriptions.student.name + " " + inscriptions.student.surname }}
    </td>
  </ng-container>
  <!-- Course Column -->
  <ng-container matColumnDef="course">
    <th mat-header-cell *matHeaderCellDef>Curso</th>
    <td mat-cell *matCellDef="let inscriptions">
      {{ inscriptions.course.name }}
    </td>
  </ng-container>
  <!-- Actions Column -->
  <ng-container matColumnDef="actions">
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let inscriptions">
      <button
        (click)="deleteInscription(inscriptions.id)"
        *ngIf="inscriptions.student.name === (user$ | async)?.name"
        mat-icon-button
        color="warn"
      >
        <mat-icon>delete</mat-icon>
      </button>
      <button
        (click)="deleteInscription(inscriptions.id)"
        *ngIf="
          (isAdmin$ | async) &&
          inscriptions.student.name !== (user$ | async)?.name
        "
        mat-icon-button
        color="warn"
      >
        <mat-icon>delete</mat-icon>
      </button>
    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
</table>
